<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>codes.joe.warp-launch-configuration</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>011CE939-0768-434F-AEB1-181B4790A660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>397DF481-22D0-4B7A-A474-63482147827F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>397DF481-22D0-4B7A-A474-63482147827F</key>
		<array/>
		<key>6492A7F5-1DA7-4CB9-A95F-9569553B8EA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96088CF8-382D-4FB6-A062-10C5C07E393C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96088CF8-382D-4FB6-A062-10C5C07E393C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>011CE939-0768-434F-AEB1-181B4790A660</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC3E5DEC-CBE9-471C-AC0E-48DFFC6F3CC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6492A7F5-1DA7-4CB9-A95F-9569553B8EA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joe Tannenbaum</string>
	<key>description</key>
	<string>Open a Warp Launch Configuration</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Warp Launch Configuration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Warp.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6492A7F5-1DA7-4CB9-A95F-9569553B8EA6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dev</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading configurations…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>search-launch-configs.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Warp Launch Configuration</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CC3E5DEC-CBE9-471C-AC0E-48DFFC6F3CC1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
    const query = "{query}";

    const se = Application('System Events');

    Application('Warp').activate();
    se.keystroke('l', { using: ['command down', 'control down'] });
    se.keystroke(query);
    se.keyCode(36);
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>397DF481-22D0-4B7A-A474-63482147827F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\/.+\/</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>96088CF8-382D-4FB6-A062-10C5C07E393C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>.yaml</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>011CE939-0768-434F-AEB1-181B4790A660</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>011CE939-0768-434F-AEB1-181B4790A660</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>397DF481-22D0-4B7A-A474-63482147827F</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>6492A7F5-1DA7-4CB9-A95F-9569553B8EA6</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>96088CF8-382D-4FB6-A062-10C5C07E393C</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>CC3E5DEC-CBE9-471C-AC0E-48DFFC6F3CC1</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>http://joe.codes</string>
</dict>
</plist>
